In [1]:
#IV Load the data for a station and organize for precipitation model
#Check for update
import os as os
import pandas as pd
import numpy as np
import math
from datetime import datetime
import pyarrow as pa
import pyarrow.parquet as pq
import matplotlib.pyplot as plt
import csv
from functools import reduce

In [2]:
#Paths
#Need to set up based on who is running
usr = "JH"
if usr == "PK":
    #ipd01 = "\\\\CXA01\\Users\\jhugh\\Documents\\HT\\NCEI_data\\2024\\"
    ipd02 = "D:\\CodeLibrary\\Python\\weathermetrics\\data\\weathermetrics\\"
    ipd03 = ""
    ipd04 = ""
    
if usr == "JH":
    #ipd01 = "\\\\CXA01\\Users\\jhugh\\Documents\\HT\\NCEI_data\\2024\\"
    ipd02 = "\\\\CXA01\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\"
    ipd03 = "\\\\CXA01\\Users\\jhugh\\Documents\\Py_S4\\NCEI_data\\"
    ipd04 = "\\\\CXA01\\Users\\jhugh\\Documents\\Py_S4\\NCEI_parquet_files\\"

In [3]:
def fn_select_data_vectors_pr07(stid_keys,nstations,nhours,nmonths_row,nmonths_col):
    #Get the matrix of data to input into marix
    #The S4 model
    # 1. Read in combined data files for multiple stations
    # 2. Find the common dates that will be used to align the matrices
    #    Keep only the values that fit the common starting date 

    # 1. Read in data files and get start date v_date... for each
    # Check that data exist for all metrics

    df_stid = stid_keys
    df_stid2 = df_stid.iloc[:, [0]]
    df_stid2 = df_stid2.drop_duplicates() # unique()
    
    n_rows_stid = min(len(df_stid2),nstations)
    #print(f"n rows stid {n_rows_stid}")
    #Matrix in which measures are stored
    n_vmt_rows = nhours*30*max(nmonths_row,nmonths_col)
    
    data_list = []
    date_max_list =[]
    
    #1. Read in data files
    for i in range(0, n_rows_stid):
    #for i in range(0, 28):
        infile = ipd03 + str(df_stid2.iloc[i,0]) #+ "_model_data_combined.csv"
        print(infile)
        
        #Eliminate fully blank lines
        cleaned_lines = []
        with open(infile, 'r', newline='') as infile:
            reader = csv.reader(infile)
            for row in reader:
                # Example: Skip rows that are entirely empty or have only blank 'name'
                if any(cell.strip() for cell in row) and (len(row) < 1 or row[0].strip() != ''): # Assuming 'name' is the first column
                    cleaned_lines.append(row)
        
        df_metrics = pd.DataFrame(cleaned_lines[1:], columns=cleaned_lines[0]) # Assuming first row is header

        df_metrics['str_hr'] = df_metrics['nHOUR']  #.apply(lambda x: f'{x:02d}')
        df_metrics['date_hr'] = pd.to_datetime(df_metrics['Date_YYYYMMDD'] + ' ' + df_metrics['str_hr'])
        df_metrics['month_number'] = df_metrics['date_hr'].dt.month
        df_metrics['week_number'] = df_metrics['date_hr'].dt.isocalendar().week
        df_metrics['stid'] = str(df_stid2.iloc[i,0])
        data_list.append(df_metrics)

    #2. Align dates across data files
    for i in range(0, n_rows_stid):
        df = data_list[i]
        max_date = max(df['date_hr'])     
        date_max_list.append(max_date)
    
    date_filter = min(date_max_list)

    for i in range(0, n_rows_stid):
        df = data_list[i]

        filtered_df = df[df['date_hr'] < date_filter]
        filtered_df = filtered_df.iloc[(len(filtered_df) - n_vmt_rows):len(filtered_df)]
        
        idx_col = filtered_df.columns
        idx_col = str(df_stid2.iloc[i,0]) + '_' + idx_col
        filtered_df.columns = idx_col

        print(filtered_df.shape)
        
        data_list[i] = filtered_df
        
    return data_list[0:n_rows_stid]

In [4]:
def fn_create_data_matrix_pr07(lst_data,tgt_metric,nstations,nmetrics,nmonths_col,ndays_col):
    #Create a matrix for precipitation data that feeds
    #The S4 model
    # 1. Get data list and select target metric
    #Two choices now
    #    - prec
    #    - temp
    # 2.  Create output and move data into approprate cells

    # 1. get data list details and reduce to metrics
    data_vectors_list = []
    dt_rows = len(lst_data[0])
    df00 = []

    dt_rows_minus_1 = dt_rows - 1
    
    if tgt_metric == "prec": tgt_cols = [10,2,3,4,5,6,8,9,11,12]
    if tgt_metric == "temp": tgt_cols = [10,3,2,4,5,6,8,9,11,12]
    non_metrics = 4  #These are the non sensor data brought in to analysis (e.g., day of year, month, ...)
    
    #Reset the indices as all records are ordered by date and hour
    #But stations have missing records so not everything aligns
    #Need to use the target station (station 0) as the standard and left join th other fields
    print(f"number of stations in data list {len(lst_data)}")
    n_data_files = len(lst_data)-1
    
    for i in range(n_data_files):
        if i == 0:
            tdt = lst_data[i].iloc[:,tgt_cols]
        if i > 0:
            tdt = lst_data[i].iloc[:,tgt_cols[0:6]]
        tdt = tdt.iloc[::-1]
        tdt.reset_index(drop=True, inplace=True)
        first_column_name = tdt.columns[0]
        tdt.rename(columns={first_column_name: 'key_date_hr'}, inplace=True)
        #fn = f"tdt data type {tdt['key_date_hr'].dtype}"
        #print(fn)
        if tdt['key_date_hr'].dtype == "datetime64[ns]":
            df00.append(tdt)
            fn = f"1. Done with setting up station -  {i}"
            #print(fn)
    
    
    nstations_w_data = len(df00)
    
    #Take the list of station data, df00, and paste side by side
    #to produce rs which is a large matrix of data for all stations 
    join_key = 'key_date_hr'
    rs = reduce(lambda left, right: pd.merge(left, right, on=join_key, how='left'), df00)
    
    #rs has each row being a dayXhour for all stations for the stations full metrics
    fn = f"2. Shape of combined data including all stations"
    print(fn)
    print(rs.shape)
    

    #2. Create output matrix and move data into appropriate cells
    #Note: target cells get 9 elements, feature cells get 5 elements
    
    nmetrics_and_non_metrics = nmetrics + non_metrics
    fn = f"nmetrics_and_non_metrics {nmetrics_and_non_metrics}"
    print(fn)
    #OLDndataelements = nmetrics_and_non_metrics + (nstations-1)*(nmetrics)
    ndataelements = nmetrics_and_non_metrics + (nstations_w_data-1)*(nmetrics)
    fn = f"ndataelements - stations by metrics {ndataelements}"
    print(fn)
    mt_cols = 1 + ndataelements*ndays_col*24
    fn = f"mt_cols 1 + #data elements*ndays_col*24 {mt_cols}"
    print(fn)
    mt_rows = len(rs)
    
    #mt_rows = 170000  #keep here for development until done
    mt_full_set = np.empty((mt_rows,mt_cols),np.float16)
    
    #Create matrix of data
    for i in range(0,mt_rows):
        mt_full_set[i,range(0,ndataelements)] = rs.iloc[i,range(1,ndataelements+1)].apply(pd.to_numeric, errors='coerce')
    
    fn = f"3. Full mt setup with initial data for the dayXhour only"
    print(fn)  
    print(mt_full_set.shape)
    
    #Add additional column sets
    lpi = mt_rows - ndays_col*24 - 1  #number of rows in rs matrix - the data elements in a column... 
                                      #ensures all records have data
    
    #limit of rows in data set so all matrix rows have data
    lpj = ndays_col*24 -1   #number of colum sets to fill, each with 104 columns
        
    
    #The row I am operating on
    for i in range(0,lpi):
        #The columns I am going to fill
        for j in range(0,lpj):
        
            row_get = i + j + 1              #For every new column in current row we have to go down one more row
            col_get_start = 0                #data retrieved starting column 1
            col_get_end = ndataelements - 1
            
            row_put = i
            col_put_start = ndataelements*(row_get - row_put)
            col_put_end = col_put_start + ndataelements - 1
            
            mt_full_set[row_put,col_put_start:col_put_end] = mt_full_set[row_get,col_get_start:col_get_end]
    
    fn = f"4. mt_full_set with ndays of data added to the columns"
    print(fn)  
    print(mt_full_set.shape)
    
    return nstations_w_data, mt_full_set

In [5]:
def fn_create_data_matrix_DAY_SUMMARY(lst_data,tgt_metric,nstations,nmetrics,non_metrics,nmonths_col,ndays_col,ndays_to_target):
    #Create a matrix for precipitation data that feeds
    #The S4 model
    # 1. Get data list and select target metric
    #Two choices now
    #    - prec
    #    - temp
    # 2.  Create output and move data into approprate cells
    #print("HEREJHH")
    # 1. get data list details and reduce to metrics
    data_vectors_list = []
    dt_rows = len(lst_data[0])
    df00 = []

    dt_rows_minus_1 = dt_rows - 1
    
    if tgt_metric == "prec": 
        tgt_cols = [13,10,2,3,4,5,6]
        ncol_names = ['station','key_date_hr','precip','airtemp','maxRH','relhum','minRH']
    if tgt_metric == "temp": 
        tgt_cols = [13,10,3,2,4,5,6]
        ncol_names = ['station','key_date_hr','airtemp','precip','maxRH','relhum','minRH']
        
    #Reset the indices as all records are ordered by date and hour
    #But stations have missing records so not everything aligns
    #Need to use the target station (station 0) as the standard and left join th other fields
    print(f"number of stations in data list {len(lst_data)}")
    n_data_files = min(len(lst_data)-1,nstations) #TB DELETE
    n_data_files = min(len(lst_data),nstations)
    #print(f"n_data_files HERE {n_data_files}")
    
    for i in range(n_data_files):
        
        tdt = lst_data[i].iloc[:,tgt_cols]
        print(f"tdt HERE {tdt}")
        tdt = tdt.iloc[::-1]  #Reverses row order
        tdt.reset_index(drop=True, inplace=True)

        for j in range(len(tgt_cols)):
            curr_column_name = tdt.columns[j]
            tdt.rename(columns={curr_column_name: ncol_names[j]}, inplace=True)
        
        if tdt['key_date_hr'].dtype == "datetime64[ns]":
            
            tdt = tdt.set_index('key_date_hr')
            tdt['precip'] = pd.to_numeric(tdt['precip'],errors='coerce')
            tdt['precip'] = tdt['precip'].fillna(0)
            tdt['precip_24hr_msum'] = tdt['precip'].rolling(window='24h').sum()
            tdt['precip_24hr_mav'] = tdt['precip'].rolling(window='24h',min_periods=6).mean()
            
            tdt['airtemp'] = pd.to_numeric(tdt['airtemp'],errors='coerce')
            tdt['airtemp_24hr_mav'] = tdt['airtemp'].rolling(window='24h',min_periods=6).mean()
            
            tdt['maxRH'] = pd.to_numeric(tdt['maxRH'],errors='coerce')
            tdt['maxRH_24hr_mav'] = tdt['maxRH'].rolling(window='24h',min_periods=6).mean()
    
            tdt['relhum'] = pd.to_numeric(tdt['relhum'],errors='coerce')
            tdt['relhum_24hr_mav'] = tdt['relhum'].rolling(window='24h',min_periods=6).mean()
            
            tdt['minRH'] = pd.to_numeric(tdt['minRH'],errors='coerce')
            tdt['minRH_24hr_mav'] = tdt['minRH'].rolling(window='24h',min_periods=6).mean()        
            
            new_column_names = []
            stri = str(i)
            for n, col in enumerate(tdt.columns):
                if i < 10: 
                    prefix = f"st0{stri}_"
                    new_column_names.append(prefix + col)
                
                if i > 9: 
                    prefix = f"st{stri}_"
                    new_column_names.append(prefix + col)

            
            #print(new_column_names)    
            tdt.columns = new_column_names
            df00.append(tdt)
    
    
    df_valid_dates = pd.to_datetime(df00[0].index)
    
    print(f"Number of valid rows: {len(df_valid_dates)}")
    
    #Use a list comprehension to reindex each DataFrame, filling missing values with NaN.
    df01 = [tdt.reindex(df_valid_dates) for tdt in df00]
    df02 = [tdt.iloc[:,[0,6,7,8,9,10,11]] for tdt in df01]
    
    #Concatenate the reindexed DataFrames into a single DataFrame if needed.
    rs = pd.concat(df02, axis=1)
                
    nstations_w_data = len(df02)
    print(f"Number of stations with data: {nstations_w_data}")

    fn = f"2. Shape of combined data including all stations"
    print(fn)
    print(rs.shape)
    
    #2. Create output matrix and move data into appropriate cells
    #Note: target cells get 9 elements, feature cells get 5 elements
    
    nmetrics_and_non_metrics = nmetrics + non_metrics
    fn = f"nmetrics - {nmetrics_and_non_metrics}"
    print(fn)
    
    ndataelements = (nstations_w_data)*(nmetrics)
    fn = f"ndataelements - stations by metrics {ndataelements}"
    print(fn)
    
    rows_to_cols_sets = (ndays_col+ndays_to_target)*24
    mt_cols = ndataelements*rows_to_cols_sets   #add two columns for the month and hour for the first set of data
    fn = f"mt_cols - ndataelements*(ndays_col+ndays_to_target)*24 {mt_cols}"
    print(fn)

    #Identify the rows down to start

    rows_to_include = len(df_valid_dates) - rows_to_cols_sets - 1
    fn = f"rows to include - len(df_valid_dates) - rows_to_cols_sets - 1 {rows_to_include}"
    print(fn)
     
    mt_full_set = np.empty((rows_to_include,mt_cols),np.float16)
    fn = f"mt_shape - {mt_full_set.shape}"
    print(fn)

    ar_str_mon = np.array(rs.index.strftime('%m')).reshape(-1,1)
    ar_str_mon = ar_str_mon[0:rows_to_include]
    ar_str_hr = np.array(rs.index.strftime('%H')).reshape(-1,1)
    ar_str_hr = ar_str_hr[0:rows_to_include]
    rs.drop('st00_station', axis=1, inplace=True)
    
    #Create matrix of data
    #rows_to_include = 1000  #number of col_rows to be copied each time from column A and placed in col B    
    mt_loops = rows_to_cols_sets     #number of loops over which to copy each group of rows
    
    j = 0  #Loop across stations, set to operate only on the target station
    for i in range(0,mt_loops):
        mt_full_set[j:rows_to_include,range(i*nmetrics,i*nmetrics + nmetrics)] = rs.iloc[i:(i+rows_to_include),0:(nmetrics+1)].apply(pd.to_numeric, errors='coerce')
    
    #Add date month and hour info and delete data too close
    mt_full_set_rtn = np.concatenate((ar_str_mon,ar_str_hr,mt_full_set),axis=1)
    
    fn = f"3. Full mt setup with initial data for the dayXhour only"
    print(fn)  
    print(mt_full_set_rtn.shape)
    ''''''
    return mt_full_set_rtn

In [6]:
def fn_create_tgt_matrix_pr07(mtx_data,tgt_metric,tgt_mod,nstations,nmetrics,ndays_col):
    
    mtx01 = mtx_data #.iloc[0:1000,:]
    nrows = mtx01.shape[0]
    ncols = mtx01.shape[1]
    
       
    if tgt_metric == "prec" and tgt_mod == "prec_ex01": 
        rtn_matrix = fn_prec_ex01(mtx01,nstations,nmetrics,ndays_col)
    
    
    #return the matrix for analysis
    return rtn_matrix

In [7]:
def fn_create_DAY_SUMMARY_tgt_matrix_pr07(mtx_data,tgt_metric,tgt_mod,nstations,nmetrics,ndays_col,ndays_to_target):
    
    mtx01 = mtx_data  #.iloc[0:100000,:]
    nrows = mtx01.shape[0]
    ncols = mtx01.shape[1]
    
    if tgt_metric == "prec" and tgt_mod == "prec_ex02": 
        rtn_matrix = fn_prec_ex02(mtx01,1,nmetrics,ndays_col,ndays_to_target)
    
    return rtn_matrix

In [8]:
def fn_prec_ex01(mtx01,nstations,nmetrics,dayscol):
    
    df = pd.DataFrame(mtx01).reset_index(drop=True)
    ncols_orig = df.shape[1]
    print(f"Number of mxt columns {ncols_orig}")
    
    #Data come in as follows
    #target station 
    #      - number of metrics (nmetrics)
    #      - date columns (4)
    #feat station 1  - number of metrics (nmetrics)
    #feat station ...  - number of metrics (nmetrics)
    #feat station nstations  - number of metrics (nmetrics)
    #total columns = (nmetrics + date columns) + (nstations+nmetrics)
    
    offset = 4  #additional fields for target station
    data_columns_start = (nmetrics + offset) + (nstations - 1)*nmetrics
    print(f"data_columns_start {data_columns_start}")
    
    tot_per = dayscol*24  #days by 24 hours
    
    for iper in range(1,tot_per,1):

        vc_start1 = np.array([(iper*nstations*(nmetrics) + (iper*offset))])
        vc_start2 = vc_start1 + nmetrics + offset   #first set has day/month/week/hr info
        vc_end = vc_start2 + (nstations-1)*nmetrics
        vc_s2_end = np.arange(vc_start2.item(),vc_end.item(),nmetrics)
        vc_num = np.concatenate([vc_start1,vc_s2_end])
        
        nm1 = 'avg'+ str(iper)
        pds1 = df.iloc[:,vc_num].mean(axis=1,skipna=True)
        df[nm1] = pds1
        
        nm2 = 'cnt_ge_zero'+ str(iper)
        pds2 = df.iloc[:,vc_num].apply(cnt_ge0,axis=1)
        df[nm2] = pds2
        
        nm3 = 'cnt_gt_zero'+ str(iper)
        pds3 = df.iloc[:,vc_num].apply(cnt_gt0,axis=1)
        df[nm3] = pds3
               
    ncols_final = df.shape[1]
    print(f"Final shape {ncols_final}")
    new_cols = range(ncols_orig,ncols_final,1)
    print(f"New columns {new_cols}")
    old_cols = range(data_columns_start,ncols_orig-1,1)
    print(f"Old columns {old_cols}")
    vc_keep = [0]+list(new_cols) + list(old_cols)
    print(f"Final columns {ncols_final}")
    
    df.rename(columns={'0': 'tgt_precip', '5': 'day_of_year'
                       , '6': 'hour_of_day'
                       , '7': 'month_of_year'
                       , '8': 'week_of_year'}, inplace=True)
    
    df_out = pd.concat([df.iloc[:,[0,5,7,8,6]],df.iloc[:,new_cols],df.iloc[:,old_cols]],axis=1)
    
    return df_out

In [9]:
def fn_prec_ex02(mtx01,nstations,nmetrics,dayscol,ndays_to_target):
    
    df = pd.DataFrame(mtx01).reset_index(drop=True)
    ncols_orig = df.shape[1]
    print(f"Number of mxt columns {ncols_orig}")
    
    #Data come in as follows
    #target station
    #      - date columns (2) Month Hour
    #      - number of metrics (nmetrics)
    #      - number of sets of day by hour (dayscol*24)
    

    data_columns_start = 2
    tgt_column = 3   # precip sum   
    tot_per = dayscol*24  #days by 24 hours
    
    cols = df.columns.tolist()
    ncols = [cols[2],cols[0],cols[1]] + cols[3:]
    #df_out = df.reindex(columns)
    
    dt_start = 3 + ndays_to_target*24
    vc = [2,0,1] + list(range(dt_start,4754))
    df_out = df.iloc[:,vc]
    
    df_out.rename(columns={'2': 'tgt_precip'
                       , '1': 'hour_of_day'
                       , '0': 'month_of_year'}, inplace=True)
                       
        
    return df_out #new_order_indices

In [10]:
#functions to identify stations in network that have rain sensor and rain
def cnt_ge0(row):
        cnt_gt_0 = sum(row >= 0)
        return cnt_gt_0

def cnt_gt0(row):
        cnt_gt_0 = sum(row > 0)
        return cnt_gt_0

In [11]:
def fn_get_nearby_stations(stid_target, target_file,in_wd):

    dt01 = target_file[target_file['tgt_stid']==stid_target]
    dt01 = dt01[['feat_stid','dist_km']]
    vc_stid = dt01['feat_stid'].to_numpy()
    
    vc_stid = np.insert(vc_stid,0,stid_target)
    
    #Need to create more combined data sets
    lst_files = os.listdir(in_wd)
    df_files = pd.DataFrame(lst_files,columns=["files"])
    df_files['stid'] = df_files['files'].str[:11]
    df_files['istarget'] = df_files['stid'].str.contains(stid_target,case=False)
    df_files['file_type'] = df_files['files'].str[23:31]
    df_files['isintarget'] = df_files['stid'].isin(vc_stid)
    
    df_files = df_files[df_files['file_type']=="combined"]
    df_files = df_files[df_files['isintarget']==True]
    
    mrg_df = pd.merge(df_files, dt01,how='left',left_on='stid',right_on='feat_stid')
    mrg_df = mrg_df.drop(columns=['feat_stid','isintarget','file_type'])
    mrg_df = mrg_df.sort_values(by='dist_km',na_position='first')
    mrg_df = mrg_df.reset_index(drop=True)
    mrg_df.columns = ['fnames','st_id','is_target_station','dist_km']
    
    return mrg_df

In [12]:
def fn_create_data_sets(tgt_stid):
    
    print(tgt_stid)
    
    #Select the target station for which predictions will be made
    dt_trg_set2 = ipd02 + "..\\Station_Pairs_LE_100km_Info.csv"
    dt_analysis_set2 = pd.read_csv(dt_trg_set2)

    #Nearby stations within 100km
    #dt_analysis_set_keys = fn_get_nearby_stations(tgt_stid,dt_analysis_set2,ipd03)
    
    dt_analysis_set_keys = dt_analysis_set2[dt_analysis_set2['tgt_stid'] == tgt_stid]    
    print(f"dt_analysis_set_keys{dt_analysis_set_keys}")

    dt_analysis_set_keys['fpn'] = ipd03 + dt_analysis_set_keys['feat_stid']+"_model_data_combined.csv"

    dt_analysis_set_keys['file exists'] = dt_analysis_set_keys['fpn'].apply(lambda x: os.path.exists(x))

    dt_analysis_set_keys = dt_analysis_set_keys[dt_analysis_set_keys['file exists'] == True]

    nstations_in_100km = len(dt_analysis_set_keys) #number of stations within 100 km
    num_st_keep = 20   #num of stations to keep for analysis
    nstations = min(nstations_in_100km,num_st_keep)
    
    #Specify parameters governing the creation of data matrix for analysis
    #All the available stations which have all three metrics needed for model
    #vc_stid = dt_analysis_set_keys[['st_id']].drop_duplicates()

    #Organize the data based on the nature of the data so they all conform to the same size matrices
    #The metrics included are
    #  AT - air temperature in Celcius
    #  RH - relative humidity in Percent
    #  PR - precipitation in MM

    #Put them all in appropriate matrices and create list of metrics
    #Data files are of two types
    #    -  24 hour * 365 days * n years  (AT, PR)
    #    -  365 days * n years (RH)
    
    #Parameters governing data matrix
    stid_target = tgt_stid
    stid_keys = dt_analysis_set_keys

    #print(f"st id keys{dt_analysis_set_keys}")
    
    ipd = ipd02
    nhours = 24
    ndays = 365
    nmonths_row = 240  #total months on rows of data
    nmonths_col = 2 #governs the number of months predicting that are needed
    ndays_col = 3  #governs the number of days predicting that are needed
    nmetrics = 5  #number of metrics in the data file
    tgt_metric =  "prec" #"prec" "temp"    the metric to be modeled
    tgt_mod = "prec_ex01"  #specifies the metric specific approach for creating data set
    
    #1. Get the relevant station data and return in a list
    lst_data = fn_select_data_vectors_pr07(stid_keys,nstations,nhours,nmonths_row,nmonths_col)
    fn = f"std id keys {stid_keys}"
    print(fn)
    
    #2. Construct a matrix from most recent to most distant data from the list data
    nstations_w_data, mtx_data = fn_create_data_matrix_pr07(lst_data,tgt_metric,nstations,nmetrics,nmonths_col,ndays_col)
    fn = f"mtx data done"
    print(fn)
    
    #Save the mtx_data to a folder
    #This lets us start at Step 3 for subsequent runs
    print(ipd04)
    rtn_mtx_pqt = pd.DataFrame(mtx_data)
    print(rtn_mtx_pqt.shape)
    fn = f"{ipd04}{tgt_metric}_mtx_{stid_target}_stations_{nstations_w_data}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
    print(fn)
    rtn_mtx_pqt.to_parquet(fn, index=False)    
    
    #3.  Create a target variable, select feature variables, create data frame for input into s4 analysis
    s4_data = fn_create_tgt_matrix_pr07(mtx_data,"prec","prec_ex01",nstations_w_data,nmetrics,ndays_col)
    
    print(f"Shape of s4_data {s4_data.shape}")
    fn = f"s4 data done"
    print(fn)
    
    #4. Save the s4_data to a folder
    #This lets us start at Step 4 for iterative runs

    print(ipd04)
    rtn_s4_data_pqt = pd.DataFrame(s4_data)
    print(rtn_s4_data_pqt.shape)
    fn = f"{ipd04}{tgt_metric}_s4data_{stid_target}_stations_{nstations_w_data}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
    print(fn)
    rtn_s4_data_pqt.to_parquet(fn, index=False)    
    
    # Prep s4 data for modeling
    # Example matrix (replace this with your actual matrix)
    df = pd.DataFrame(s4_data).iloc[1:,] # Convert to DataFrame and drop the first row for binning
    print(f"All records at start {df.shape}")
    ##Only keep records w rain
    #df = df[df.iloc[:,0]>0]
    #print(df.shape)

    #Drop rows where there has been no rain in total area for past 48 hours
    ndays_check_for_rain = ndays_col
    range_of_data = ndays_check_for_rain*ndays_col*(24) + ndays_col
    vc_num = [x for x in range(5,range_of_data,3)]

    nm1 = 'sum_avg'
    pds1 = df.iloc[:,vc_num].sum(axis=1,skipna=True)
    df_area_non_zero = df[pds1 > 0]
    print(f"Records with some rain in last {ndays_check_for_rain} days {df_area_non_zero.shape}")

    #Separate into dataframes with and withot rain in past n days
    df_area_non_zero_yrain = df_area_non_zero[df_area_non_zero.iloc[:,0]>0]
    df_area_non_zero_nrain = df_area_non_zero[df_area_non_zero.iloc[:,0]==0]

    #sample non-rain to help balance outcomes if needed
    df_sample_nrain = df_area_non_zero_nrain  #df_area_non_zero_nrain.sample(n=len(df_area_non_zero_yrain))
    df_area_non_zero_ynrain = pd.concat((df_area_non_zero_yrain,df_sample_nrain),axis=0)

    #Choose the df for analysis
    dfs = df_area_non_zero_ynrain
    print(f"Full rain and no rain {dfs.shape}")

    del df, df_area_non_zero_yrain, df_area_non_zero_nrain, df_area_non_zero_ynrain
    
    # Drop rows where the first column has missing values
    # df = df.dropna(subset=[0])
    condition = np.isfinite(dfs.iloc[:,0])
    df_subset = pd.DataFrame(dfs[condition])
    del dfs
    print(df_subset.shape)


    bins = [-float('inf'),0.1,0.5,1,2,3,4,5,float('inf')]
    labels = [0,0.1, 0.5,1,2,3,4,5]
    print(bins, labels)

    df_transformed = transform_matrix_precip(df_subset, bins, labels)

    df_transformed.drop(columns=df_transformed.columns[1],inplace=True)
    df_transformed.shape

    df_transformed = df_transformed.sample(frac=1).reset_index(drop=True)

    print("Analysis Set:", df_transformed.shape)

    print(df_transformed['tgt_bin'].value_counts(dropna=False).sort_index())

    train_data, val_data, test_data = split_time_series_data(df_transformed)
    
    train_data.to_parquet(f"{ipd04}{stid_target}_train.parquet", index=False)
    val_data.to_parquet(f"{ipd04}{stid_target}_validation.parquet", index=False)
    test_data.to_parquet(f"{ipd04}{stid_target}_test.parquet", index=False)

    # code for saving to csv for testing and checking
    # train_data.to_csv(f"{ipd04}{stid_target}_train.csv", index=False)
    # val_data.to_csv(f"{ipd04}{stid_target}_validation.csv", index=False)
    # test_data.to_csv(f"{ipd04}{stid_target}_test.csv", index=False)
    
    print("Datasets exported successfully.") 
    
    return 1 #mtx_data  #stid_keys

In [ ]:

#SETUP  Select a station using ID to get its related stations

#Load df of target stations and those close by
#74486094789 is JFK airport
#74486454787 is Farmingdale
#72502014734 is Newark
#72427653859 is Dayton, OH
#72551014939 is Lincoln, NE
#72793024233 is Seattle, WA
#72202012839 is Miami, FL
#72202012839 is Miami, FL
#72243012960 is Houston, TX
#72572024127 is Salt Lake City, UT
#72278023183 is Phoenix, AZ

#76001399999 is Gen Abelardo Mexico
#71413099999 is Spondin Canada
#72507554768 is North Adams, US, ME
#72614054742 is St Johnsbury, US, VT
#72027312981 
#72036363872 
#74594693786 errors in data files
#72027504872
#72030553964
#72037492825


#Select the target station for which predictions will be made
dt_trg_set2 = ipd02 + "..\\Station_Pairs_LE_100km_Info.csv"
dt_analysis_set2 = pd.read_csv(dt_trg_set2)
#Governs the target station in subsequent modules
tgt_stid =  "72037492825"

#Nearby stations within 100km
dt_analysis_set_keys = fn_get_nearby_stations(tgt_stid,dt_analysis_set2,ipd03)

nstations_in_100km = len(dt_analysis_set_keys) #number of stations within 100 km
num_st_keep = 20   #num of stations to keep for analysis
nstations = min(nstations_in_100km,num_st_keep)

dt_analysis_set_keys

#Specify parameters governing the creation of data matrix for analysis
#All the available stations which have all three metrics needed for model
#vc_stid = dt_analysis_set_keys[['st_id']].drop_duplicates()

#Organize the data based on the nature of the data so they all conform to the same size matrices
#The metrics included are
#  AT - air temperature in Celcius
#  RH - relative humidity in Percent
#  PR - precipitation in MM

#Put them all in appropriate matrices and create list of metrics
#Data files are of two types
#    -  24 hour * 365 days * n years  (AT, PR)
#    -  365 days * n years (RH)

#Parameters governing data matrix
stid_target = tgt_stid
stid_keys = dt_analysis_set_keys

ipd = ipd02
nhours = 24
ndays = 365
nmonths_row = 240  #total months on rows of data
nmonths_col = 2 #governs the number of months predicting that are needed
ndays_col = 3  #governs the number of days predicting that are needed
nmetrics = 5  #number of metrics in the data file
tgt_metric =  "prec" #"prec" "temp"    the metric to be modeled
tgt_mod = "prec_ex01"  #specifies the metric specific approach for creating data set

In [ ]:
#1. Get the relevant station data and return in a list a list
lst_data = fn_select_data_vectors_pr07(stid_keys,nstations,nhours,nmonths_row,nmonths_col)
fn = f"lst data done"
print(fn)

In [ ]:

#2. Construct a matrix from most recent to most distant data from the list data
mtx_data = fn_create_data_matrix_pr07(lst_data,tgt_metric,nstations,nmetrics,nmonths_col,ndays_col)
fn = f"mtx data done"
print(fn)

#Save the mtx_data to a folder
#This lets us start at Step 3 for subsequent runs
print(ipd04)
rtn_mtx_pqt = pd.DataFrame(mtx_data)
print(rtn_mtx_pqt.shape)
fn = f"{ipd04}{tgt_metric}_mtx_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
print(fn)
rtn_mtx_pqt.to_parquet(fn, index=False)

In [ ]:
#fn = f"{ipd04}{tgt_metric}_mtx_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
#fn = '\\\\CXA01\\Users\\jhugh\\Documents\\Py_S4\\Py_S4_v02_JHH\\NCEI_parquet_files\\prec_mtx_74486094789_stations_20_RowMn_240_ColDy_7.parquet'
fn = "\\\\CXA01\\Users\\jhugh\\Documents\\Py_S4\\NCEI_parquet_files\\my_data.parquet"
# Read the Parquet file into a Pandas DataFrame
mtx_data = pd.read_parquet(fn)
print(mtx_data.shape)
mtx_data

In [ ]:
#3.  Read in mtx_data file

#Get the mtx_data from a folder
#This lets us start at Step 3 for iterative runs
fn = f"{ipd04}{tgt_metric}_mtx_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
#fn = '\\\\CXA01\\Users\\jhugh\\Documents\\Py_S4\\Py_S4_v02_JHH\\NCEI_parquet_files\\prec_mtx_74486094789_stations_20_RowMn_240_ColDy_7.parquet'

# Read the Parquet file into a Pandas DataFrame
mtx_data = pd.read_parquet(fn)
print(mtx_data.shape)

In [ ]:
#4.  Create a target variable, select feature variables, create data frame for input into s4 analysis

s4_data = fn_create_tgt_matrix_pr07(mtx_data,"prec","prec_ex01",nstations,nmetrics,ndays_col)

print(f"Shape of s4_data {s4_data.shape}")
fn = f"s4 data done"
print(fn)
s4_data

In [ ]:
#5. Save the s4_data to a folder
#This lets us start at Step 4 for iterative runs

print(ipd04)
rtn_s4_data_pqt = pd.DataFrame(s4_data)
print(rtn_s4_data_pqt.shape)
fn = f"{ipd04}{tgt_metric}_s4data_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
print(fn)
rtn_s4_data_pqt.to_parquet(fn, index=False)

In [ ]:
#This lets us start at Step 4 for iterative runs
fn = f"{ipd04}{tgt_metric}_s4data_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
print(fn)

# Read the Parquet file into a Pandas DataFrame
s4_data = pd.read_parquet(fn)
print(s4_data.shape)

In [13]:
def transform_matrix_precip(df, bins, labels):
    """
    Transforms the given matrix by binning the first column, dropping the first row and column,
    and adding the binned column as the first column.

    Parameters:
        matrix (pd.DataFrame): The input matrix.

    Returns:
        pd.DataFrame: The transformed matrix.
    """
    # Extract the first column (dependent variable)
    firstcolumn = df.iloc[:, 0].astype('float32')
    
    # Bin the first column
    binned_column = pd.cut(firstcolumn, bins=bins, labels=labels)
    
    # Add the binned column as the first column
    df.insert(loc=0, column='tgt_bin', value=binned_column.iloc[0:].values)
    
    # Drop columns 3 the first first column
    #df = df.drop(columns=df.columns[[3]])

    # Return the final matrix
    
    return df

In [ ]:
'''
# Prep s4 data for modeling
# Example matrix (replace this with your actual matrix)
df = pd.DataFrame(s4_data).iloc[1:,] # Convert to DataFrame and drop the first row for binning
print(f"All records at start {df.shape}")
##Only keep records w rain
#df = df[df.iloc[:,0]>0]
#print(df.shape)

#Drop rows where there has been no rain in total area for past 48 hours
ndays_check_for_rain = ndays_col
range_of_data = ndays_check_for_rain*ndays_col*(24) + ndays_col
vc_num = [x for x in range(5,range_of_data,3)]

nm1 = 'sum_avg'
pds1 = df.iloc[:,vc_num].sum(axis=1,skipna=True)
df_area_non_zero = df[pds1 > 0]
print(f"Records with some rain in last {ndays_check_for_rain} days {df_area_non_zero.shape}")

#Separate into dataframes with and withot rain in past n days
df_area_non_zero_yrain = df_area_non_zero[df_area_non_zero.iloc[:,0]>0]
df_area_non_zero_nrain = df_area_non_zero[df_area_non_zero.iloc[:,0]==0]

#sample non-rain to help balance outcomes if needed
df_sample_nrain = df_area_non_zero_nrain  #df_area_non_zero_nrain.sample(n=len(df_area_non_zero_yrain))
df_area_non_zero_ynrain = pd.concat((df_area_non_zero_yrain,df_sample_nrain),axis=0)

#Choose the df for analysis
dfs = df_area_non_zero_ynrain
print(f"Full rain and no rain {dfs.shape}")

del df, df_area_non_zero_yrain, df_area_non_zero_nrain, df_area_non_zero_ynrain
  
# Drop rows where the first column has missing values
# df = df.dropna(subset=[0])
condition = np.isfinite(dfs.iloc[:,0])
df_subset = pd.DataFrame(dfs[condition])
del dfs
print(df_subset.shape)


bins = [-float('inf'),0.1,0.5,1,2,3,4,5,float('inf')]
labels = [0,0.1, 0.5,1,2,3,4,5]
print(bins, labels)

df_transformed = transform_matrix_precip(df_subset, bins, labels)

df_transformed.drop(columns=df_transformed.columns[1],inplace=True)
df_transformed.shape

df_transformed = df_transformed.sample(frac=1).reset_index(drop=True)

print("Analysis Set:", df_transformed.shape)

print(df_transformed['tgt_bin'].value_counts(dropna=False).sort_index())

df_transformed
'''

In [14]:
def split_time_series_data(df, train_ratio=0.6, val_ratio=0.2, test_ratio=0.2):
    """
    Splits a time series dataset into training, validation, and test sets.

    Parameters:
        df (pd.DataFrame): The input time series dataset, ordered in descending dates.
        train_ratio (float): The proportion of data to use for training.
        val_ratio (float): The proportion of data to use for validation.
        test_ratio (float): The proportion of data to use for testing.

    Returns:
        tuple: A tuple containing three DataFrames (train, validation, test).
    """
    assert train_ratio + val_ratio + test_ratio == 1.0, "Ratios must sum to 1.0"

    # Calculate split indices
    n = len(df)
    test_end = int(n * test_ratio)    
    val_end = test_end + int(n * val_ratio)
    

    # Split the data
    test_data = df.iloc[:test_end].sort_index(ascending=False)
    val_data = df.iloc[test_end:val_end].sort_index(ascending=False)
    train_data = df.iloc[val_end:].sort_index(ascending=False)

    return train_data, val_data, test_data

'''
#df_transformedn = df_transformed
train_data, val_data, test_data = split_time_series_data(df_transformed)
print("Training Set:", train_data.shape)
print(train_data['tgt_bin'].value_counts(dropna=False).sort_index())
print("Validation Set:", val_data.shape)
print(val_data['tgt_bin'].value_counts(dropna=False).sort_index())
print("Test Set:", test_data.shape)
print(test_data['tgt_bin'].value_counts(dropna=False).sort_index())
'''

'\n#df_transformedn = df_transformed\ntrain_data, val_data, test_data = split_time_series_data(df_transformed)\nprint("Training Set:", train_data.shape)\nprint(train_data[\'tgt_bin\'].value_counts(dropna=False).sort_index())\nprint("Validation Set:", val_data.shape)\nprint(val_data[\'tgt_bin\'].value_counts(dropna=False).sort_index())\nprint("Test Set:", test_data.shape)\nprint(test_data[\'tgt_bin\'].value_counts(dropna=False).sort_index())\n'

In [ ]:
# Define the station ID and output directory
# Export datasets to Parquet and CSV

train_data.to_parquet(f"{ipd04}{stid_target}_train.parquet", index=False)
val_data.to_parquet(f"{ipd04}{stid_target}_validation.parquet", index=False)
test_data.to_parquet(f"{ipd04}{stid_target}_test.parquet", index=False)

# code for saving to csv for testing and checking
train_data.to_csv(f"{ipd04}{stid_target}_train.csv", index=False)
# val_data.to_csv(f"{ipd04}{stid_target}_validation.csv", index=False)
# test_data.to_csv(f"{ipd04}{stid_target}_test.csv", index=False)

print("Datasets exported successfully.")

#python -m s4model --modelname 72406093721 --trainset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_train.parquet --valset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_validation.parquet --testset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_test.parquet --tabulardata --dependent_variable 0 --epochs 30
#python -m s4model --modelname 72406093721 --trainset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_train.parquet --valset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_validation.parquet --testset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_test.parquet --tabulardata --dependent_variable 0 --epochs 30


# python -m charts --df ../results/72508014740_Test_results_20250424_104121PM.csv --actual 0 --predicted Predicted 
# python -m charts --df ../results/72508014740_Test_results_20250427_100132PM.csv --actual 0 --predicted Predicted 
# python -m charts --df ../results/72508014740_Test_results_20250428_091259PM.csv --actual 0 --predicted Predicted 
# python -m charts --df ../results/72508014740_Test_results_20250428_094033PM.csv --actual 0 --predicted Predicted 
# python -m charts --df ../results/72508014740_Test_results_20250429_091538PM.csv --actual 0 --predicted Predicted

In [ ]:
#Code to run at cmd line
#python -m s4model --modelname 72406093721 --trainset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_train.parquet --valset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_validation.parquet --testset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_test.parquet --tabulardata --dependent_variable 0 --epochs 30

In [15]:
#DAY SUMMARY control
def stid_loop(tgt_stid,part):

    #Select the target station for which predictions will be made
    #tgt_stid =  instid #"72502014734" #instid    # "72502014734"  large file "74788012810"
    save_files = 1   #1 means save them and 0 means do not save them
    run_files = 1    #1 means do it and 0 means do not do it
    print(tgt_stid)
    #Nearby stations within 100km
    dt_trg_set2 = ipd02 + "..\\Station_Pairs_LE_100km_Info.csv"
    dt_analysis_set2 = pd.read_csv(dt_trg_set2)

    dt_analysis_set_keys = fn_get_nearby_stations(tgt_stid,dt_analysis_set2,ipd03)
    nstations_in_100km = len(dt_analysis_set_keys) #number of stations within 100 km
    num_st_keep = 20   #num of stations to keep for analysis
    nstations = min(nstations_in_100km,num_st_keep)
    
    #dt_analysis_set_keys

    #Specify parameters governing the creation of data matrix for analysis
    #All the available stations which have all three metrics needed for model
    #vc_stid = dt_analysis_set_keys[['st_id']].drop_duplicates()

    #Organize the data based on the nature of the data so they all conform to the same size matrices
    #The metrics included are
    #  AT - air temperature in Celcius
    #  RH - relative humidity in Percent
    #  PR - precipitation in MM

    #Put them all in appropriate matrices and create list of metrics
    #Data files are of two types
    #    -  24 hour * 365 days * n years  (AT, PR)
    #    -  365 days * n years (RH)

    #Parameters governing data matrix
    stid_target = tgt_stid
    stid_keys = dt_analysis_set_keys

    ipd = ipd02
    nhours = 24
    ndays = 365
    nmonths_row = 180 #240  #total months on rows of data
    nmonths_col = 2 #governs the number of months predicting that are needed
    ndays_col = 3  #governs the number of days predicting that are needed
    nmetrics = 5  #number of metrics in the data file
    tgt_metric =  "prec" #"prec" "temp"    the metric to be modeled
    tgt_mod = "prec_ex01"  #specifies the metric specific approach for creating data set

    #2b. DAY SUMMARY ONE STATION Construct a matrix from most recent to most distant data from the list data by 
    nstations = 1
    ndays_to_target = 3
    ndays_col = 30
    nmetrics = 6
    non_metrics = 1

    #Part 1
    if part == 1:
        #Get data for target station
        lst_data = fn_select_data_vectors_pr07(stid_keys,nstations,nhours,nmonths_row,nmonths_col)
        fn = f"lst data done"
        print(fn)
        
        #Create matrix of data    
        mtx_data = fn_create_data_matrix_DAY_SUMMARY(lst_data,tgt_metric,nstations,nmetrics,non_metrics,nmonths_col,ndays_col,ndays_to_target)
        fn = f"mtx data done - DAY SUMMARY ONE STATION"
        print(fn)
        print(mtx_data.shape)
        
        #Save the mtx_data to a folder
        print(ipd04)        
        rtn_mtx_pqt = pd.DataFrame(mtx_data)
        print(rtn_mtx_pqt.shape)
        fn = f"{ipd04}{tgt_metric}_mtx_DAY_SUMMARY_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
        print(fn)
        rtn_mtx_pqt.to_parquet(fn, index=False)
    
    #End part 1        

    #Part 2
    if part == 2:
        #Get the mtx_data from a folder
        #This lets us start at Step 3 for iterative runs
        fn = f"{ipd04}{tgt_metric}_mtx_DAY_SUMMARY_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
        rtn_mtx_data_all = pd.read_parquet(fn)
        rtn_mtx_data = rtn_mtx_data_all.head(30000)
        print(rtn_mtx_data.shape)
        
        mtx_data = rtn_mtx_data.to_numpy()
        del rtn_mtx_data_all

        #DAY SUMMARY Create a target variable, select feature variables, create data frame for input into s4 analysis
        s4_data = fn_create_DAY_SUMMARY_tgt_matrix_pr07(mtx_data,"prec","prec_ex02",1,nmetrics,ndays_col,ndays_to_target)
        fn = f"s4 matrix with target data done"
        print(ipd04)
        print(fn)
        
        rtn_s4_data_pqt = pd.DataFrame(s4_data)
        print(rtn_s4_data_pqt.shape)
        fn = f"{ipd04}{tgt_metric}_s4data_DAY_SUMMARY_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"

        print(fn)
        rtn_s4_data_pqt.to_parquet(fn, index=False)

    
    if part == 3:
        #This lets us start at Step 4 for iterative runs DAY SUMMARY
        fn = f"{ipd04}{tgt_metric}_s4data_DAY_SUMMARY_{stid_target}_stations_{nstations}_RowMn_{nmonths_row}_ColDy_{ndays_col}.parquet"
        print(fn)

        # Read the Parquet file into a Pandas DataFrame
        s4_data = pd.read_parquet(fn)
        print(s4_data.shape)
        
        # Prep s4 data for modeling DAY SUMMARY
        # Example matrix (replace this with your actual matrix)
        df = pd.DataFrame(s4_data).iloc[1:,] # Convert to DataFrame and drop the first row for binning
        print(f"All records at start {df.shape}")
    
        #Drop rows where there has been no rain in total area for past 48 hours
        #Choose the df for analysis
        dfs = df
        #print(f"Full rain and no rain {dfs.shape}")

        # Drop rows where the first column has missing values
        # df = df.dropna(subset=[0])
        condition = np.isfinite(dfs.iloc[:,0])
        df_subset = pd.DataFrame(dfs[condition])
        del dfs
        print(f"First missing values dropped {df_subset.shape}")


        bins = [-float('inf'),0.1,0.5,1,2,3,4,5,float('inf')]
        labels = [0,0.1, 0.5,1,2,3,4,5]
        print(bins, labels)

        df_transformed = transform_matrix_precip(df_subset, bins, labels)

        df_transformed.drop(columns=df_transformed.columns[1],inplace=True)

        df_transformed = df_transformed.sample(frac=1).reset_index(drop=True)

        print("Analysis Set:", df_transformed.shape)
        print(df_transformed['tgt_bin'].value_counts(dropna=False).sort_index())

        #Convert day and mon from char to numeric
        col_name_mon = 1
        col_name_hour = 2
        column_name_mn = df_transformed.columns[col_name_mon]
        column_name_hr = df_transformed.columns[col_name_hour]
        df_transformed[column_name_mn] = pd.to_numeric(df_transformed[column_name_mn], errors='coerce') 
        df_transformed[column_name_hr] = pd.to_numeric(df_transformed[column_name_hr], errors='coerce') 
        
        df_transformed
        
        
        #df_transformedn = df_transformed
        train_data, val_data, test_data = split_time_series_data(df_transformed)
        print("Training Set:", train_data.shape)
        print(train_data['tgt_bin'].value_counts(dropna=False).sort_index())
        print("Validation Set:", val_data.shape)
        print(val_data['tgt_bin'].value_counts(dropna=False).sort_index())
        print("Test Set:", test_data.shape)
        print(test_data['tgt_bin'].value_counts(dropna=False).sort_index())

        # Define the station ID and output directory
        # Export datasets to Parquet and CSV

        train_data.to_parquet(f"{ipd04}{stid_target}_DAYSUM_train.parquet", index=False)
        val_data.to_parquet(f"{ipd04}{stid_target}_DAYSUM_validation.parquet", index=False)
        test_data.to_parquet(f"{ipd04}{stid_target}_DAYSUM_test.parquet", index=False)

        # code for saving to csv for testing and checking
        #train_data.to_csv(f"{ipd04}{stid_target}_DAYSUM_train.csv", index=False)
        # val_data.to_csv(f"{ipd04}{stid_target}_validation.csv", index=False)
        # test_data.to_csv(f"{ipd04}{stid_target}_test.csv", index=False)
        print("Datasets exported successfully.")

        #Code to run at cmd line
        #python -m s4model --modelname 72406093721 --trainset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_train.parquet --valset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_validation.parquet --testset C:\\Users\\jhugh\\Documents\\HT\\NCEI_data\\metrics_csv\\72406093721_test.parquet --tabulardata --dependent_variable 0 --epochs 30
        
        
    return test_data #mtx_data #tgt_stid #s4_data

In [ ]:
lst_stx = ["70200026617","70219026615","70316025624","72202012839","72206013889","72208013880","72214093805","72217003813","72218003820","72223013894","72241012917","72250012919","72251012924","72255012912","72312003870","72417013729","72438093819","72515004725","72519014771","72605014745","72635094860","72638094814","72639094849","72654014936","72659014929","72712014607","72734014847","72792024227","72797094240"]
lst_stx = ["72218003820","72223013894","72241012917","72250012919","72251012924","72255012912","72312003870","72417013729","72438093819","72515004725","72519014771","72605014745","72635094860","72638094814","72639094849","72654014936","72659014929","72712014607","72734014847","72792024227"]  #not run all the way to train
run_part = 3

def process_w_yield(my_list,run_part):
    for value in my_list:
        yield stid_loop(value,run_part)

for result in process_w_yield(lst_stx,run_part):
    print(f"Done with {result}")

72218003820
\\CXA01\Users\jhugh\Documents\Py_S4\NCEI_parquet_files\prec_s4data_DAY_SUMMARY_72218003820_stations_1_RowMn_180_ColDy_30.parquet
(128807, 4682)
All records at start (128806, 4682)
First missing values dropped (128806, 4682)
[-inf, 0.1, 0.5, 1, 2, 3, 4, 5, inf] [0, 0.1, 0.5, 1, 2, 3, 4, 5]
Analysis Set: (128806, 4682)
tgt_bin
0.0    88890
0.1     6010
0.5     3077
1.0     3793
2.0     2278
3.0     1730
4.0     1470
5.0    21558
Name: count, dtype: int64
Training Set: (77284, 4682)
tgt_bin
0.0    53502
0.1     3559
0.5     1830
1.0     2269
2.0     1325
3.0     1032
4.0      913
5.0    12854
Name: count, dtype: int64
Validation Set: (25761, 4682)
tgt_bin
0.0    17707
0.1     1202
0.5      601
1.0      767
2.0      451
3.0      375
4.0      275
5.0     4383
Name: count, dtype: int64
Test Set: (25761, 4682)
tgt_bin
0.0    17681
0.1     1249
0.5      646
1.0      757
2.0      502
3.0      323
4.0      282
5.0     4321
Name: count, dtype: int64
Datasets exported successfully.
Done with       tgt_bin   0   1        75         76       77         78        79  \
25760     0.0  12   9  0.000000   5.027344   99.625  46.750000  79.50000
25759     0.0  10  19  0.000000  15.093750   91.750  28.046875  56.09375
25758     0.0   9  21  0.000000        NaN      NaN        NaN       NaN
25757     0.0   1  14  0.000000  10.703125  100.000  66.750000  85.75000
25756     0.0   3  18  0.000000  12.218750   91.250  41.250000  64.75000
...       ...  ..  ..       ...        ...      ...        ...       ...
4         0.0   4  22  0.000000  14.570312   84.750  34.593750  55.59375
3         0.0   7   8  0.237549  26.921875   95.500  54.843750  78.68750
2         0.0  11   5  0.000000  11.539062  100.000  76.437500  92.06250
1         0.0   3   2  0.000000  13.476562   93.000  18.078125  56.00000
0         5.0   4  19  0.000000  14.257812   81.750  14.164062  39.65625

             80        81  ...       4744      4745       4746      4747  \
25760  0.000000  0.000000  ...  16.109375   98.3750  69.125000  90.56250
25759  0.000000  0.000000  ...  25.187500  100.0000  38.000000  73.25000
25758  0.000000  0.000000  ...  27.156250  100.0000  40.968750  73.06250
25757  0.000000  0.000000  ...  15.648438   96.6875  52.343750  79.68750
25756  0.000000  0.000000  ...  -4.082031   95.3125  57.156250  76.18750
...         ...       ...  ...        ...       ...        ...       ...
4      0.000000  0.000000  ...   8.375000  100.0000  74.000000  87.00000
3      5.699219  0.237549  ...  26.906250   94.0625  43.906250  75.25000
2      0.000000  0.000000  ...  21.578125  100.0000  45.906250  80.75000
1      0.000000  0.000000  ...  11.851562   86.8125  22.171875  54.84375
0      0.000000  0.000000  ...  17.468750   93.3750  31.875000  62.75000

           4748      4749       4750      4751      4752      4753
25760  7.199219  0.300049  16.406250   98.2500  69.75000  90.56250
25759  0.000000  0.000000  25.140625  100.0000  38.00000  73.31250
25758  0.000000  0.000000  27.343750  100.0000  40.90625  73.06250
25757  2.099609  0.087524  15.414062   96.6250  51.75000  79.50000
25756  0.000000  0.000000  -4.277344   95.1875  55.46875  75.18750
...         ...       ...        ...       ...       ...       ...
4      0.000000  0.000000   8.148438   99.5625  72.68750  86.43750
3      1.299805  0.054169  27.031250   94.3750  44.12500  75.62500
2      0.000000  0.000000  21.359375  100.0000  45.50000  80.50000
1      0.000000  0.000000  11.523438   86.3750  22.37500  54.87500
0      0.000000  0.000000  17.421875   93.5000  31.50000  62.65625

[25761 rows x 4682 columns]
72223013894
\\CXA01\Users\jhugh\Documents\Py_S4\NCEI_parquet_files\prec_s4data_DAY_SUMMARY_72223013894_stations_1_RowMn_180_ColDy_30.parquet
(128807, 4682)
All records at start (128806, 4682)
First missing values dropped (128806, 4682)
[-inf, 0.1, 0.5, 1, 2, 3, 4, 5, inf] [0, 0.1, 0.5, 1, 2, 3, 4, 5]
Analysis Set: (128806, 4682)
tgt_bin
0.0    84914
0.1     4743
0.5     3019
1.0     3799
2.0     2586
3.0     1811
4.0     1365
5.0    26569
Name: count, dtype: int64
Training Set: (77284, 4682)
tgt_bin
0.0    50956
0.1     2821
0.5     1821
1.0     2294
2.0     1547
3.0     1102
4.0      772
5.0    15971
Name: count, dtype: int64
Validation Set: (25761, 4682)
tgt_bin
0.0    16879
0.1      982
0.5      633
1.0      759
2.0      542
3.0      345
4.0      292
5.0     5329
Name: count, dtype: int64
Test Set: (25761, 4682)
tgt_bin
0.0    17079
0.1      940
0.5      565
1.0      746
2.0      497
3.0      364
4.0      301
5.0     5269
Name: count, dtype: int64
Datasets exported successfully.
Done with       tgt_bin   0   1        75         76        77         78       79  \
25760     0.0  12  21  2.400391  17.859375  100.0000  74.500000  91.1250
25759     0.0   4  12  0.000000  15.898438   89.0000  24.000000  57.0000
25758     5.0  12  22  5.796875  17.500000   91.8125  60.156250  77.4375
25757     0.0  10   9  0.000000  21.296875   79.2500  35.625000  53.8750
25756     5.0   7  18  0.000000  27.656250   91.0000  60.000000  77.0000
...       ...  ..  ..       ...        ...       ...        ...      ...
4         0.0  11   9  0.000000  10.742188   77.7500  38.750000  58.3750
3         0.0   5   4  0.000000  19.453125   91.0000  30.671875  58.0000
2         0.0   3  13  0.000000  20.750000  100.0000  44.843750  80.2500
1         0.0   8  22  0.104187  28.078125   98.2500  65.937500  86.9375
0         0.0   5  22  0.000000  26.953125   90.0000  44.156250  69.7500

              80        81  ...       4744     4745       4746     4747  \
25760   57.59375  2.400391  ...  13.898438   99.875  22.421875  69.0625
25759    0.00000  0.000000  ...  11.742188   94.250  42.250000  63.7500
25758  139.12500  5.796875  ...  15.367188  100.000  94.000000  99.0000
25757    0.00000  0.000000  ...  25.531250   98.625  66.937500  87.3125
25756    0.00000  0.000000  ...  27.218750   90.000  63.656250  81.5000
...          ...       ...  ...        ...      ...        ...      ...
4        0.00000  0.000000  ...  23.796875   88.625  57.406250  74.7500
3        0.00000  0.000000  ...  22.218750   99.250  52.500000  79.7500
2        0.00000  0.000000  ...  16.328125   96.375  43.875000  71.8750
1        2.50000  0.104187  ...  23.078125   97.000  54.000000  81.0000
0        0.00000  0.000000  ...  20.078125   91.000  22.000000  46.0000

            4748      4749       4750      4751       4752      4753
25760   0.000000  0.000000  13.859375   99.7500  22.828125  69.18750
25759   0.000000  0.000000  11.609375   94.3750  44.375000  65.12500
25758   0.000000  0.000000  15.414062  100.0000  93.062500  98.56250
25757   0.000000  0.000000  25.593750   98.7500  67.437500  87.68750
25756   0.000000  0.000000  27.046875   90.0000  62.843750  81.37500
...          ...       ...        ...       ...        ...       ...
4       0.000000  0.000000  23.703125   88.7500  56.843750  74.50000
3      16.906250  0.704102  21.968750   99.3750  53.750000  80.43750
2       3.300781  0.137451  16.281250   96.4375  43.093750  71.75000
1      90.187500  3.757812  23.140625   97.1250  54.218750  81.00000
0       0.000000  0.000000  20.062500   91.0625  23.500000  47.15625

[25761 rows x 4682 columns]
72241012917
\\CXA01\Users\jhugh\Documents\Py_S4\NCEI_parquet_files\prec_s4data_DAY_SUMMARY_72241012917_stations_1_RowMn_180_ColDy_30.parquet
(128807, 4682)
All records at start (128806, 4682)
First missing values dropped (128806, 4682)
[-inf, 0.1, 0.5, 1, 2, 3, 4, 5, inf] [0, 0.1, 0.5, 1, 2, 3, 4, 5]
Analysis Set: (128806, 4682)
tgt_bin
0.0    89059
0.1     6241
0.5     2992
1.0     3428
2.0     1995
3.0     1356
4.0     1170
5.0    22565
Name: count, dtype: int64
Training Set: (77284, 4682)
tgt_bin
0.0    53374
0.1     3779
0.5     1798
1.0     2095
2.0     1193
3.0      819
4.0      699
5.0    13527
Name: count, dtype: int64
Validation Set: (25761, 4682)
tgt_bin
0.0    17816
0.1     1261
0.5      611
1.0      679
2.0      408
3.0      258
4.0      235
5.0     4493
Name: count, dtype: int64
Test Set: (25761, 4682)
tgt_bin
0.0    17869
0.1     1201
0.5      583
1.0      654
2.0      394
3.0      279
4.0      236
5.0     4545
Name: count, dtype: int64
Datasets exported successfully.
Done with       tgt_bin   0   1        75         76        77         78        79  \
25760     0.0   9  21  0.304199  25.156250   96.2500  52.500000  75.62500
25759     5.0   5  11  1.029297  23.609375   91.0000  57.406250  78.12500
25758     0.0  11  17  0.000000  16.140625  100.0000  69.687500  90.31250
25757     0.0  12  16  0.000000  10.679688   95.6875  40.500000  63.34375
25756     0.0  10  19  0.000000  17.640625   86.3125  22.421875  52.46875
...       ...  ..  ..       ...        ...       ...        ...       ...
4         0.0   7  14  0.000000  29.687500   97.0000  47.593750  76.75000
3         0.0   2  17  0.000000  17.671875   93.8125  84.062500  89.18750
2         0.0   2  11  0.000000  12.171875   99.8125  26.000000  61.53125
1         0.0   6  13  0.000000  29.609375   90.1875  46.000000  67.12500
0         5.0   8   6  0.570801  29.703125   94.0000  49.250000  75.50000

              80        81  ...       4744      4745       4746      4747  \
25760   7.300781  0.304199  ...  28.281250   97.0000  61.000000  81.25000
25759  24.703125  1.029297  ...  20.421875   98.6250  41.031250  72.12500
25758   0.000000  0.000000  ...  25.796875  100.0000  67.687500  84.00000
25757   0.000000  0.000000  ...  18.265625  100.0000  60.750000  86.50000
25756   0.000000  0.000000  ...  27.609375   92.6250  53.375000  76.12500
...          ...       ...  ...        ...       ...        ...       ...
4       0.000000  0.000000  ...  28.578125   96.3125  57.343750  76.31250
3       0.000000  0.000000  ...  10.132812   87.1875  18.796875  57.71875
2       0.000000  0.000000  ...   7.523438   86.1875  40.343750  60.78125
1       0.000000  0.000000  ...  19.343750   94.5000  33.250000  56.37500
0       2.300781  0.095825  ...  28.437500   94.0000  54.343750  76.00000

         4748      4749       4750      4751      4752     4753
25760    0.00  0.000000  28.250000   97.0000  61.00000  81.5000
25759    0.00  0.000000  20.312500   98.5000  41.50000  72.5000
25758  145.75  6.070312  25.843750  100.0000  67.25000  84.0000
25757    0.00  0.000000  18.156250  100.0000  60.53125  86.4375
25756    0.00  0.000000  27.656250   92.5000  53.50000  76.1875
...       ...       ...        ...       ...       ...      ...
4        2.00  0.083313  28.468750   96.3750  57.00000  76.1250
3        0.00  0.000000  10.031250   87.0000  18.75000  57.2500
2        0.00  0.000000   7.175781   87.0000  40.00000  60.5000
1        0.00  0.000000  19.390625   94.6875  33.15625  56.7500
0        0.00  0.000000  28.312500   94.0000  54.03125  75.8750

[25761 rows x 4682 columns]
72250012919
\\CXA01\Users\jhugh\Documents\Py_S4\NCEI_parquet_files\prec_s4data_DAY_SUMMARY_72250012919_stations_1_RowMn_180_ColDy_30.parquet
(128807, 4682)
All records at start (128806, 4682)
First missing values dropped (128806, 4682)
[-inf, 0.1, 0.5, 1, 2, 3, 4, 5, inf] [0, 0.1, 0.5, 1, 2, 3, 4, 5]
Analysis Set: (128806, 4682)
tgt_bin
0.0    100877
0.1      4922
0.5      2915
1.0      3320
2.0      2001
3.0      1575
4.0       908
5.0     12288
Name: count, dtype: int64
Training Set: (77284, 4682)
tgt_bin
0.0    60511
0.1     2972
0.5     1722
1.0     2005
2.0     1222
3.0      951
4.0      549
5.0     7352
Name: count, dtype: int64
Validation Set: (25761, 4682)
tgt_bin
0.0    20119
0.1     1025
0.5      595
1.0      657
2.0      386
3.0      294
4.0      195
5.0     2490
Name: count, dtype: int64
Test Set: (25761, 4682)
tgt_bin
0.0    20247
0.1      925
0.5      598
1.0      658
2.0      393
3.0      330
4.0      164
5.0     2446
Name: count, dtype: int64
Datasets exported successfully.
Done with       tgt_bin  0   1       75         76       77        78       79  \
25760     0.0  4   0  0.00000  24.421875  90.0000  57.00000  75.5000
25759     0.0  5   1  0.00000  26.953125  95.3750  56.84375  80.4375
25758     0.0  3   6  0.00000  25.750000  93.2500  37.25000  79.0000
25757     0.0  6  10  0.00000  27.500000  99.6875  58.50000  79.6875
25756     0.0  1  10  0.00000  18.843750  96.3125  36.90625  69.0625
...       ... ..  ..      ...        ...      ...       ...      ...
4         0.0  8  16  0.00000  29.500000  90.0000  48.50000  72.0000
3         0.5  8  23  0.19165  28.921875  94.0000  43.34375  71.5625
2         0.0  6  11  0.00000  32.187500  89.9375  49.12500  73.0000
1         0.0  9  18  0.00000  29.328125  93.7500  58.00000  76.5000
0         0.0  3  18  0.00000  23.312500  96.2500  64.25000  81.7500

             80       81  ...       4744      4745      4746     4747  \
25760  0.000000  0.00000  ...  26.406250   90.3125  57.65625  78.1875
25759  0.000000  0.00000  ...  23.781250   96.5000  61.12500  80.0000
25758  0.000000  0.00000  ...  23.156250   99.0000  59.65625  85.3125
25757  0.000000  0.00000  ...  19.968750   90.0000  39.00000  56.5000
25756  0.000000  0.00000  ...  24.187500   95.5000  62.00000  81.0000
...         ...      ...  ...        ...       ...       ...      ...
4      0.000000  0.00000  ...  30.625000   90.0000  48.25000  70.2500
3      4.601562  0.19165  ...  29.140625   95.9375  56.12500  76.0000
2      0.000000  0.00000  ...  28.187500   91.0000  65.43750  80.9375
1      0.000000  0.00000  ...  30.046875   90.5000  56.50000  75.5000
0      0.000000  0.00000  ...  13.250000  100.0000  77.68750  96.3125

           4748      4749       4750      4751      4752      4753
25760  0.000000  0.000000  26.406250   90.1875  57.34375  78.06250
25759  0.000000  0.000000  23.796875   96.3125  61.40625  80.00000
25758  0.000000  0.000000  23.125000   99.1250  59.09375  85.18750
25757  0.000000  0.000000  20.093750   90.8125  38.40625  56.03125
25756  0.000000  0.000000  24.265625   95.3750  61.90625  81.06250
...         ...       ...        ...       ...       ...       ...
4      0.000000  0.000000  30.593750   90.0000  48.28125  70.31250
3      0.000000  0.000000  29.125000   96.0000  56.00000  76.00000
2      0.000000  0.000000  28.218750   91.0000  65.50000  81.00000
1      2.599609  0.108337  30.093750   90.6250  56.12500  75.37500
0      1.099609  0.045837  13.445312  100.0000  77.56250  95.93750

[25761 rows x 4682 columns]
72251012924
\\CXA01\Users\jhugh\Documents\Py_S4\NCEI_parquet_files\prec_s4data_DAY_SUMMARY_72251012924_stations_1_RowMn_180_ColDy_30.parquet
(128807, 4682)
All records at start (128806, 4682)
First missing values dropped (128806, 4682)
[-inf, 0.1, 0.5, 1, 2, 3, 4, 5, inf] [0, 0.1, 0.5, 1, 2, 3, 4, 5]
Analysis Set: (128806, 4682)
tgt_bin
0.0    101362
0.1      5423
0.5      2777
1.0      3151
2.0      1850
3.0      1452
4.0      1143
5.0     11648
Name: count, dtype: int64
Training Set: (77284, 4682)
tgt_bin
0.0    60963
0.1     3240
0.5     1630
1.0     1852
2.0     1073
3.0      899
4.0      708
5.0     6919
Name: count, dtype: int64
Validation Set: (25761, 4682)
tgt_bin
0.0    20151
0.1     1109
0.5      580
1.0      640
2.0      405
3.0      297
4.0      206
5.0     2373
Name: count, dtype: int64
Test Set: (25761, 4682)
tgt_bin
0.0    20248
0.1     1074
0.5      567
1.0      659
2.0      372
3.0      256
4.0      229
5.0     2356
Name: count, dtype: int64
Datasets exported successfully.
Done with       tgt_bin   0   1        75         76       77        78       79  \
25760     0.0   8  21  0.000000  28.343750  92.5000  39.25000  69.7500
25759     0.0   7  16  0.000000  28.937500  97.0000  67.50000  86.1875
25758     0.0   7  18  0.000000  30.546875  89.5000  41.50000  67.5000
25757     0.0   3  10  0.000000  24.937500  99.7500  75.43750  88.6875
25756     0.0   7   2  0.000000  27.984375  97.0000  62.75000  82.6875
...       ...  ..  ..       ...        ...      ...       ...      ...
4         0.5  10  14  0.000000  21.671875  90.0000  51.15625  66.0625
3         2.0   6  15  0.099976  28.093750  88.3750  66.50000  78.5000
2         0.0   1  11  0.000000  15.320312  99.8125  58.34375  87.8750
1         0.0   4   8  0.000000  23.781250  95.8125  35.50000  71.5000
0         0.0  10  20  0.083313  15.062500      NaN       NaN      NaN

             80        81  ...       4744   4745       4746      4747  \
25760  0.000000  0.000000  ...  28.546875  100.0  54.000000  77.00000
25759  0.000000  0.000000  ...  28.906250   97.0  69.000000  83.25000
25758  0.000000  0.000000  ...  26.968750   84.5  57.843750  71.50000
25757  0.000000  0.000000  ...  16.500000   98.0  35.500000  70.50000
25756  0.000000  0.000000  ...  28.828125  100.0  61.000000  81.00000
...         ...       ...  ...        ...    ...        ...       ...
4      0.000000  0.000000  ...  30.046875   99.0  55.000000  78.00000
3      2.400391  0.099976  ...  29.375000   88.0  59.281250  75.68750
2      0.000000  0.000000  ...  18.531250  100.0  64.562500  86.06250
1      0.000000  0.000000  ...  17.656250   86.5  29.921875  49.34375
0      2.000000  0.083313  ...  28.812500   90.5  51.343750  75.81250

            4748      4749       4750      4751      4752     4753
25760   1.000000  0.041656  28.843750  100.0000  54.00000  77.0000
25759   0.000000  0.000000  28.890625   97.0000  69.18750  83.3125
25758  14.398438  0.600098  27.031250   84.3750  57.53125  71.3750
25757   0.000000  0.000000  16.500000   98.1875  36.12500  71.4375
25756   0.000000  0.000000  28.843750  100.0000  61.25000  81.0000
...          ...       ...        ...       ...       ...      ...
4       0.000000  0.000000  30.062500   98.8750  54.87500  77.8750
3       0.000000  0.000000  29.343750   88.0000  59.34375  75.6875
2       0.000000  0.000000  18.390625  100.0000  64.00000  86.0000
1       0.000000  0.000000  17.515625   87.2500  29.12500  48.5000
0       0.000000  0.000000  28.765625   90.2500  51.00000  75.2500

[25761 rows x 4682 columns]
72255012912
\\CXA01\Users\jhugh\Documents\Py_S4\NCEI_parquet_files\prec_s4data_DAY_SUMMARY_72255012912_stations_1_RowMn_180_ColDy_30.parquet
(128807, 4682)
All records at start (128806, 4682)
First missing values dropped (128806, 4682)
[-inf, 0.1, 0.5, 1, 2, 3, 4, 5, inf] [0, 0.1, 0.5, 1, 2, 3, 4, 5]
Analysis Set: (128806, 4682)
tgt_bin
0.0    96541
0.1     5579
0.5     3201
1.0     3471
2.0     2036
3.0     1553
4.0     1164
5.0    15261
Name: count, dtype: int64
Training Set: (77284, 4682)
tgt_bin
0.0    57873
0.1     3358
0.5     1917
1.0     2045
2.0     1197
3.0      939
4.0      711
5.0     9244
Name: count, dtype: int64
Validation Set: (25761, 4682)
tgt_bin
0.0    19233
0.1     1141
0.5      655
1.0      733
2.0      418
3.0      321
4.0      224
5.0     3036
Name: count, dtype: int64
Test Set: (25761, 4682)
tgt_bin
0.0    19435
0.1     1080
0.5      629
1.0      693
2.0      421
3.0      293
4.0      229
5.0     2981
Name: count, dtype: int64
Datasets exported successfully.
Done with       tgt_bin   0   1        75         76        77        78       79  \
25760     0.0  12   1  0.000000  20.437500  100.0000  51.21875  84.9375
25759     0.0  12  18  0.000000  10.796875   93.7500  53.75000  77.7500
25758     0.0   7   4  0.000000  28.640625   98.0000  75.31250  89.3125
25757     0.0  12  13  0.012497  20.093750   99.5625  63.84375  81.6875
25756     0.0  12  16  0.000000  21.296875       NaN       NaN      NaN
...       ...  ..  ..       ...        ...       ...       ...      ...
4         0.0   1  18  0.000000   7.710938   97.0000  38.75000  70.0000
3         4.0   5   0  0.208374  23.453125   91.5000  54.50000  72.0000
2         0.5  12  17  0.000000  19.406250   96.1875  53.65625  77.4375
1         0.0   3  12  0.000000  21.218750  100.0000  80.00000  94.0000
0         0.0   7   5  0.000000  30.281250   95.8125  46.00000  71.1250

             80        81  ...       4744      4745       4746      4747  \
25760  0.000000  0.000000  ...  22.250000   97.3750  45.125000  76.75000
25759  0.000000  0.000000  ...  13.484375   94.1875  37.843750  60.34375